ul > li {
  list-style: none;
}

.formulario{
  width: 300px;
  position: relative;
  border-style: groove;
  border-radius: 10px;
  padding-bottom: 25px;
  margin-top: 15px;
  margin-right: 8px;
}

h1 {
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.App{
  width: 100%;
}

.botonFormulario{
  margin-left: 80px !important;
}

.botonfiltro{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 120px;
  margin-left: 80px !important;
  font-size: 12px !important;
}

.btnfunc{
  margin: 10px 10px 20px 20px !important;
  width: 120px;
  font-size: 12px !important;
}

.statusBoton{
  width: 180px;
  margin-bottom: 10px !important;
}

.formas{
  display: flex;
  justify-content: space-around;
  align-content:flex-start;
  flex-wrap: wrap;
}

.btncenter{
  display: flex;
  justify-content:flex-start;
}

.formas2{
  display: flex;
}

.grafica{
  border-style: groove;
  border-radius: 10px;
  text-align: center;
  width: 450px;
  margin-top: 15px;
}

.centrado{
  text-align: center;
}

.filtros{
  display: flex;
  justify-content: space-around;
  align-content:flex-start;
  flex-wrap: wrap;
}